USE [master]
GO
/****** Object:  Database [SpeakingLogs]    Script Date: 07/11/2018 14:37:53 ******/
CREATE DATABASE [SpeakingLogs]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SpeakingLogs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SpeakingLogs]
GO
USE [SpeakingLogs]
GO
/****** Object:  Table [dbo].[SpeakingLog]    Script Date: 07/11/2018 14:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpeakingLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[TalkDate] [date] NOT NULL,
	[EventName] [varchar](255) NOT NULL,
	[City] [varchar](255) NULL,
	[Country] [varchar](255) NULL,
	[Postcode] [varchar](20) NULL,
	[Attendance] [int] NULL,
	[Tags] [nvarchar](1024) NULL,
	[TalkType] [varchar](100) NULL,
 CONSTRAINT [PK_SpeakingLog] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[RecordCountByTags]    Script Date: 07/11/2018 14:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RecordCountByTags]
AS

SELECT 
	LTRIM(RTRIM(VALUE)) AS Tag,
	COUNT(*) AS RecordCount
FROM 
	[dbo].[SpeakingLog]
	CROSS APPLY STRING_SPLIT([Tags],',')
GROUP BY
	VALUE

GO
/****** Object:  Table [dbo].[EventLogos]    Script Date: 07/11/2018 14:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventLogos](
	[EventName] [varchar](255) NOT NULL,
	[ImageURL] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
